# Dependencies
/node_modules/
/vendor/

# Build outputs
/build/
/dist/
/public/storage/

# Env files
.env

# OS & logs
.DS_Store
Thumbs.db
*.log

__pycache__/
*.pyc
*.pyo
*.pyd
myenv/
node_modules/
*.log
.DS_Store
*.dat

